@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
  # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
    # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

:root {
  --breakpoint-xs: 375;
  --breakpoint-s: 834;
  --breakpoint-m: 1200;
  --breakpoint-l: 1920;
  --font-size: min(calc(100vw * 1 / var(--breakpoint-xs)), 6.25%);
}
@media (min-width: 834px) {
  :root {
    --font-size: min(calc(100vw * 1 /var(--breakpoint-s)), 6.25%);
  }
}
@media (min-width: 1200px) {
  :root {
    --font-size: min(calc(100vw * 1 / var(--breakpoint-m)), 6.25%);
  }
}
@media (min-width: 1920px) {
  :root {
    --font-size: min(calc(100vw * 1 / var(--breakpoint-l)), 6.25%);
  }
}

html {
  font-size: var(--font-size);
}

body {
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  text-align: left;
  box-sizing: border-box;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}
a:link {
  color: #707070;
}
a:visited {
  color: #707070;
}

/*$breakpoints: (
screen01: 'screen and (max-width:375px)',
screen02: 'screen and (max-width:768px)',
screen03: 'screen and (max-width:1000px)',
screen04: 'screen and (max-width:1280px)',
);*/
.l-header {
  width: 100%;
}

.c-card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: stretch;
}
@media (min-width: 768px) {
  .c-card__container {
    flex-direction: row;
  }
}

.c-search-form__field {
  width: 216px;
}

.p-header {
  text-align: center;
  background-color: #fff7ef;
}
@media (min-width: 1201px) {
  .p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.p-header__title {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40rem;
  font-family: roboto;
  font-weight: 700;
  color: #707070;
}
@media (min-width: 768px) {
  .p-header__title {
    padding-bottom: 38px;
  }
}
@media (min-width: 1201px) {
  .p-header__title {
    padding-top: 66px;
    padding-bottom: 67px;
    padding-left: 65px;
    font-size: clamp(40rem, (100vw - 834px) * 24 / 1084 + 40rem, 64rem);
  }
}
@media (min-width: 1920px) {
  .p-header__title {
    font-size: 64rem;
  }
}

.p-top__img {
  width: 100%;
  background-image: url(/images/mainvisual.jpg);
  background-size: cover;
  height: 285px;
  position: relative;
  background-position: center center;
}
@media (min-width: 1201px) {
  .p-top__img {
    height: 530px;
  }
}
.p-top__title {
  position: absolute;
  top: 112px;
  left: 25px;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 36rem;
  color: #fff;
}
@media (min-width: 768px) {
  .p-top__title {
    top: 122px;
    left: 86px;
  }
}
@media (min-width: 1201px) {
  .p-top__title {
    font-size: 40rem;
    font-weight: 700;
    top: 234px;
  }
}

.p-card__container {
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .p-card__container {
    margin: 40px;
  }
}
@media (min-width: 1201px) {
  .p-card__container {
    flex-direction: row;
  }
}
@media (min-width: 1920px) {
  .p-card__container {
    margin-top: 120px;
    margin-bottom: 130px;
    margin-left: 119px;
    margin-right: 112px;
  }
}
.p-card__img01 {
  width: 100%;
  background-image: url(../../../images/card_img-1.jpg);
  background-size: cover;
  margin-top: 20px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
@media (min-width: 768px) {
  .p-card__img01 {
    margin-right: 20.5px;
    margin-top: 0;
  }
}
@media (min-width: 1201px) {
  .p-card__img01 {
    margin-right: 40px;
  }
}
.p-card__img02 {
  width: 100%;
  background-image: url(../../../images/card_img-2.png);
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 49px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
@media (min-width: 768px) {
  .p-card__img02 {
    margin-left: 20.5px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1201px) {
  .p-card__img02 {
    margin-left: 40px;
    margin-left: 40px;
  }
}
.p-card__title {
  font-family: roboto;
  color: #eaeaea;
  font-size: 41rem;
  margin-left: 15px;
  padding-top: 13px;
  padding-bottom: 19.34px;
  margin-bottom: 217.66px;
  position: relative;
}
@media (min-width: 768px) {
  .p-card__title {
    margin-bottom: 275px;
    margin-left: 13px;
    font-size: clamp(41rem, (100vw - 375px) * 3 / 459 + 41rem, 44px);
  }
}
@media (min-width: 1201px) {
  .p-card__title {
    margin-bottom: 663.5px;
    margin-left: 22px;
    padding-bottom: 38.5px;
    padding-top: 28px;
    font-weight: 700;
    font-size: clamp(44rem, (100vw - 834px) * 36 / 1084 + 44rem, 80rem);
  }
}
@media (min-width: 1920px) {
  .p-card__title {
    font-size: 80rem;
  }
}
.p-card__title::after {
  content: "";
  display: inline-block;
  width: 33.89px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .p-card__title::after {
    width: 35.94px;
  }
}
@media (min-width: 1201px) {
  .p-card__title::after {
    width: 63px;
  }
}

.p-card-inner__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.p-card-inner__background {
  background-color: #fff;
  opacity: 0.8;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  position: relative;
  overflow-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
.p-card-inner__background:last-child {
  margin-bottom: 0;
}
@media (min-width: 1201px) {
  .p-card-inner__background {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.p-card-inner__title {
  width: 100%;
  color: #3c2a10;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-size: 22rem;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 8px;
  line-height: 24px;
}
@media (min-width: 1201px) {
  .p-card-inner__title {
    font-size: 24rem;
    margin-bottom: 18px;
    padding-bottom: 0;
  }
}
.p-card-inner__description {
  width: 100%;
  font-family: "M PLUS 1p", sans-serif;
  color: #3c2a10;
  font-weight: 400;
  font-size: 16rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
@media (min-width: 1201px) {
  .p-card-inner__description {
    padding-left: 20px;
    padding-right: 21px;
    padding-bottom: 14px;
  }
}

.p-search-form__container {
  align-items: center;
  background-color: #fff7ef;
  padding-bottom: 39px;
}
@media (min-width: 1201px) {
  .p-search-form__container {
    padding-right: 31px;
    padding-bottom: 0;
  }
}
.p-search-form__field {
  width: 216px;
  background-color: #fff;
  border: 1px solid;
  border-color: #707070;
  border-radius: 10px 8px 10px 10px;
  height: 46px;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 24rem;
  padding-left: 9px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .p-search-form__field {
    width: 396px;
  }
}
@media (min-width: 1201px) {
  .p-search-form__field {
    margin-bottom: 0px;
  }
}
.p-search-form__button {
  width: 90px;
  height: 46px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 27px;
  padding-right: 31px;
  margin-left: 16px;
  color: #707070;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bold;
  line-height: 23.76px;
  font-size: 16rem;
  border-radius: 10px;
  border: 1px solid;
  border-color: #707070;
  background: linear-gradient(#F2F1E9, #DED8D3);
  vertical-align: middle;
}
@media (min-width: 768px) {
  .p-search-form__button {
    width: 136px;
    padding: 11px 52px 11px 52px;
  }
}

.p-access__wrapper {
  height: auto;
  background-image: url(../../../images/access.jpg);
  background-size: cover;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, 0.5971);
}
.p-access__container {
  height: 100%;
  position: relative;
}
.p-access__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.502);
  z-index: 1;
}
.p-access__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: calc(100% - 415px);
  background-color: rgba(0, 0, 0, 0.2855);
  z-index: 2;
}
@media (min-width: 768px) {
  .p-access__container::after {
    bottom: 0;
  }
}
@media (min-width: 1201px) {
  .p-access__container::after {
    width: 950px;
  }
}
.p-access__description-container {
  width: 100%;
  height: 100%;
  padding: 0.1px;
  position: relative;
  z-index: 3;
}
.p-access__title {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 30rem;
  font-weight: 700;
  color: #fff;
  padding-top: 42px;
  padding-bottom: 15px;
  margin-left: 42px;
  position: relative;
}
@media (min-width: 1201px) {
  .p-access__title {
    margin-left: 119px;
    margin-top: 89px;
    padding-bottom: 50.5px;
    padding-top: 0;
    font-size: 36rem;
  }
}
.p-access__title::after {
  content: "";
  display: inline-block;
  width: 75px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.p-access__description {
  height: 591px;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 14rem;
  margin-top: 14px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 57px;
  overflow-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  line-height: 33px;
}
@media (min-width: 768px) {
  .p-access__description {
    margin-bottom: 40px;
    margin-left: 42px;
    margin-right: 29px;
    height: auto;
  }
}
@media (min-width: 1201px) {
  .p-access__description {
    max-width: 697px;
    margin-left: 119px;
    margin-right: 134px;
    margin-bottom: 75px;
    margin-top: 58.5px;
    font-size: 16rem;
  }
}

.p-footer__container {
  background-image: url(../../../images/footer.png);
  background-size: cover;
  text-align: center;
  margin-top: 0;
  width: 100%;
}
@media (min-width: 1201px) {
  .p-footer__container {
    position: relative;
    z-index: 400;
  }
}
.p-footer__list {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 18rem;
  font-weight: 400;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 70px;
}
.p-footer__list a:visited {
  color: #fff;
}
.p-footer__list li:first-child {
  border-right: 1px solid;
  border-color: #fff;
  padding-right: 18px;
}
.p-footer__list li:last-child {
  padding-left: 18px;
}
@media (min-width: 768px) {
  .p-footer__list {
    padding-top: 30px;
    padding-bottom: 44px;
  }
}
@media (min-width: 1201px) {
  .p-footer__list {
    padding-top: 41px;
    padding-bottom: 31px;
  }
}
.p-footer__copyright {
  display: inline-block;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 14rem;
  color: #fff;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .p-footer__copyright {
    padding-bottom: 24px;
  }
}
@media (min-width: 1201px) {
  .p-footer__copyright {
    padding-bottom: 27px;
  }
}

.p-sidebar__container {
  transform: translateX(100%);
}
.p-sidebar__drawer-menu {
  background-color: #fff7ef;
  font-family: "M PLUS 1p", sans-serif;
  color: #707070;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 367px;
  width: 328px;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out 0s;
  z-index: 200;
  padding-top: 178px;
  overflow: auto;
}
@media (min-width: 768px) {
  .p-sidebar__drawer-menu {
    width: 367px;
  }
}
@media (min-width: 1201px) {
  .p-sidebar__drawer-menu {
    transform: translateX(0);
    width: 367px;
    position: inherit;
    height: auto;
    position: relative;
  }
}
@media (min-width: 1920px) {
  .p-sidebar__drawer-menu {
    padding-top: 214px;
  }
}
.p-sidebar__title:not(:first-child) {
  padding-top: 60px;
}
@media (min-width: 768px) {
  .p-sidebar__title:not(:first-child) {
    padding-top: 48px;
  }
}
.p-sidebar__title > a {
  font-weight: bold;
  font-size: 24rem;
  padding-left: 46px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .p-sidebar__title > a {
    padding-bottom: 32px;
  }
}
.p-sidebar__title ul li a {
  font-size: 20rem;
  padding-left: 66px;
}
.p-sidebar__title ul li {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .p-sidebar__title ul li:last-child {
    padding-bottom: 0;
  }
}

.menu-checkbox {
  display: none;
}

.menu-checkbox:checked ~ .p-sidebar__drawer-menu {
  transform: translateX(0);
}

.menu-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s ease 0s;
  pointer-events: none;
  z-index: -1;
}
@media (min-width: 1201px) {
  .menu-background {
    display: none;
  }
}

.menu-checkbox:checked ~ .menu-background {
  background: rgba(0, 0, 0, 0.502);
  pointer-events: auto;
  z-index: 100;
}

.menu-checkbox:checked ~ .p-whole__container {
  z-index: inherit;
}

body:has(.menu-checkbox:checked) {
  position: fixed;
}

.drawer-icon {
  cursor: pointer;
  position: fixed;
  color: #707070;
  font-size: 20rem;
  font-family: roboto;
  top: 8px;
  right: 8px;
  z-index: 300;
}
@media (min-width: 768px) {
  .drawer-icon {
    font-size: 34rem;
    font-weight: bold;
  }
}
@media (min-width: 1201px) {
  .drawer-icon {
    pointer-events: none;
    position: absolute;
    top: 84px;
    right: 321px;
    transform: translateX(100%);
  }
}

.drawer-icon span::before,
.drawer-icon span::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 11px;
  width: 30px;
  height: 6px;
  color: #707070;
  z-index: 200;
}

.menu-checkbox:checked ~ .drawer-icon span::before {
  visibility: visible;
  content: "";
  display: inline-block;
  transform: rotate(45deg);
  background-color: #707070;
  width: 45.25px;
  height: 6px;
  z-index: 500;
  margin-top: 8px;
  margin-right: 11px;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .menu-checkbox:checked ~ .drawer-icon span::before {
    margin-top: 20px;
    margin-right: 25px;
  }
}

.menu-checkbox:checked ~ .drawer-icon span::after {
  visibility: visible;
  content: "";
  transform: rotate(135deg);
  background-color: #707070;
  width: 45.25px;
  height: 6px;
  z-index: 500;
  margin-top: 8px;
  margin-right: 11px;
  transition: 0.4s;
}
@media (min-width: 768px) {
  .menu-checkbox:checked ~ .drawer-icon span::after {
    margin-top: 20px;
    margin-right: 25px;
  }
}

.menu-checkbox:checked ~ .drawer-icon span {
  visibility: hidden;
}

@media (min-width: 1201px) {
  .p-whole__container {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: stretch;
    z-index: 0;
  }
}
/*# sourceMappingURL=style.css.map */