@use "../../foundation/mixin" as m;


.c-card{
  &__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  @include m.breakpoint(tablet) {
    flex-direction: row;
 }
}
}