@use "../../foundation/base" as b;
@use "../../foundation/font-family" as f;
@use "../../foundation/color" as c;
@use "../../foundation/mixin" as m;

.drawer-icon {
  cursor: pointer;
  position: fixed;
  color: c.$color-brown;
  //background-color: c.$color-beige;
  font-size: 20rem;
  font-family: f.$main-font;
  top: 8px;
  right: 8px;
  z-index: 300; //スライドメニューが出てきたとき隠れないようにする
  @include m.breakpoint(tablet) {
    font-size: 34rem;
    font-weight: bold;
  }
  @include m.breakpoint(pc) {
    pointer-events: none;
    position: absolute;
    top: 84px;
    right: calc(367px - 46px);
    transform: translateX(100%);

  }
}
.drawer-icon span::before,
.drawer-icon span::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 11px;
  width: 30px;
  height: 6px;
  color: c.$color-brown;
  z-index: 200;
}

.menu-checkbox:checked ~ .drawer-icon span::before {
  visibility: visible;
  content: "";
  display: inline-block;
  transform: rotate(45deg);
  background-color: c.$color-brown;
  width: 45.25px;
  height: 6px;
  z-index: 500;
  margin-top: 8px;
  margin-right: 11px;
  transition: .4s;
  @include m.breakpoint(tablet) {
    margin-top: 20px;
    margin-right: 25px;
  }
  @include m.breakpoint(pc) {
    display: none;
  }
}
.menu-checkbox:checked ~ .drawer-icon span::after {
  visibility: visible;
  content: "";
  transform: rotate(135deg);
  background-color: c.$color-brown;
  width: 45.25px;
  height: 6px;
  z-index: 500;
  margin-top: 8px;
  margin-right: 11px;
  transition: .4s;
  @include m.breakpoint(tablet) {
    margin-top: 20px;
    margin-right: 25px;
  }
  @include m.breakpoint(pc) {
    display: none;
  }
}
.menu-checkbox:checked ~ .drawer-icon span{
  visibility: hidden;
  @include m.breakpoint(pc) {
    visibility: visible;
  }
}

//menu
.p-menu__button {
  display: inline-block;
  background-color: c.$color-white;
  font-size: 16rem;
  font-weight: bold;
  padding-top: 11px;
  padding-left: 41.09px;
  padding-right: 42.07px;
  padding-bottom: 14.47px;
  border-radius: 50px;
  margin: 0 auto;
  text-align: center;
  @include m.breakpoint(tablet) {
    padding-left: 41px;
    padding-right: 42.16px;
  }
  a {
    color: c.$color-brown;
  }
}