@use "../../foundation/base" as b;
@use "../../foundation/font-family" as f;
@use "../../foundation/color" as c;
@use "../../foundation/mixin" as m;

.p-card{
 &__container {
  margin-left: 20px;
  margin-right: 20px;
  @include m.breakpoint(tablet) {
   margin: 40px;
  }
  @include m.breakpoint(pc) {
   flex-direction: row;
  }
  @include m.breakpoint(pcl) {
   margin-top: 120px;
   margin-bottom: 130px;
   margin-left: 119px;
   margin-right: 112px;
  }
    a {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: stretch;
    }
  }
 &__img01 {
  width: 100%;
  background-image: url(../images/card_img-1.jpg);
  background-size: cover;
  margin-top: 20px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  @include m.breakpoint(tablet) {
   margin-right: 20.5px;
   margin-top: 0;
  }
  @include m.breakpoint(pc) {
   margin-right: 40px;
  }
 }
 &__img02 {
  width: 100%;
  background-image: url(../images/card_img-2.png);
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 49px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  @include m.breakpoint(tablet) {
    margin-left: 20.5px;
    margin-top: 0;
    margin-bottom: 0;
  }
  @include m.breakpoint(pc) {
    margin-left: 40px;
  }
  }
  &__title {
  font-family: f.$main-font;
  color: c.$color-lightgray;
  font-size: 41rem;
  margin-left: 15px;
  padding-top: 13px;
  padding-bottom: 19.34px;
  margin-bottom: 217.66px;//仮数値
  position: relative;
  @include m.breakpoint(tablet) {
    padding-top: 14px;
    margin-bottom: 275px;
    margin-left: 13px;
    font-size: clamp(41rem, (100vw - 375px)*3/459 + 41rem, 44px);
  }
  @include m.breakpoint(pc) {
   margin-bottom: 663.5px;
   margin-left: 22px;
   padding-bottom: 38.5px;
   padding-top: 28px;
   font-weight: 700;
   font-size: clamp(44rem, (100vw - 834px)*36/1084 + 44rem, 80rem);
  }
  @include m.breakpoint(pcl) {
  font-size: 80rem;
  }
 &::after {
  //下線
  content: "";
  display: inline-block;
  width: 33.89px;
  height: 4px; 
  background-color: c.$color-white;
  position: absolute;
  left: 0;
  bottom: 0;
  @include m.breakpoint(tablet) {
   width: 35.94px;
  }
  @include m.breakpoint(pc) {
   width: 63px;
  }
 }
}
}

.p-card-inner {
 &__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 &__background {
 //width: 100%;
 //max-width: 303px;
 //max-height: 156px;
 background-color: c.$color-white;
 opacity: 0.8;
 margin-left: 16px;
 margin-bottom: 16px;
 margin-right: 16px;
 position: relative;
 overflow-wrap: break-word; //文字折り返し
 word-break: break-all;
 overflow: hidden;
 &:last-child {
  margin-bottom: 0;
 }
 @include m.breakpoint(tablet) {
  //max-width: 325px;
  //max-height: 154px;
 }
 @include m.breakpoint(pc) {
  //max-width: 585px;
  //max-height: 166px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
 }
 }
&__title {
 width: 100%;
 color: c.$color-darkbrown;
 font-family: f.$sub-font;
 font-weight: 700;
 font-size: 22rem;
 padding-left: 16px;
 padding-top: 16px;
 padding-bottom: 8px;
 line-height: 24px;
 @include m.breakpoint(pc) {
  font-size: 24rem;
  margin-bottom: 18px;
  padding-bottom: 0;
 }
 }
 &__description {
  width: 100%;
  font-family: f.$sub-font;
  color: c.$color-darkbrown;
  font-weight: 400;
  font-size: 16rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  @include m.breakpoint(pc) {
   padding-left: 20px;
   padding-right: 21px;
   padding-bottom: 14px;
  }
 }
}

/*========
single
========*/
.p-card-single {
  &__big-image-container {
    text-align: center;
  }
  &__big-image {
    width: calc(335px / 375px * 100%);
    object-fit: cover;
    margin-bottom: 30px;
    height: 124px;
    //background-image: url(/images/single_tile.png);
    //background-size: cover;
    //width: 100%;
    //max-width: calc(100% - 40px);
    //margin: 0 20px 30px 20px;
    //background-position: center center;
    @include m.breakpoint(tablet) {
    height: 264px;
    width: calc(714px / 834px * 100%);
    margin-bottom: 60px;
    //margin: 0 60px 60px 60px;
    }
    @include m.breakpoint(pc) {
    height: 500px;
    width: calc(1353px / 1553px * 100%);
    margin-bottom: 60px;
    //margin: 0 100px 60px 100px;
  }
  }
  &__container {
  display: flex;
  margin: 0 20px 30px 18px;
  @include m.breakpoint(tablet) {
    margin: 0 60px 117px 60px;
    }
    @include m.breakpoint(pc) {
      margin: 0 100px 60px 100px;
    }
    &:nth-child(odd) {
    > img {
      margin-right: 10px;
      @include m.breakpoint(tablet) {
      margin-right: 21px;
      }
      @include m.breakpoint(pc) {
        margin-right: 40px;
      }
    }
    }
    &:nth-child(even) {
    flex-direction: row-reverse; //偶数逆バージョン
    > img {
      margin-left: 10px;
      @include m.breakpoint(tablet) {
      margin-left: 21px;
      }
      @include m.breakpoint(pc) {
        margin-left: 40px;
      }
    }
    }
    &:last-child {
    @include m.breakpoint(tablet) {
      margin-bottom: 61px;
    }
    }
  }

  &__image {
    //width: 78.5%;
    width: calc(144px / 337px * 100%); //margin分を全体の幅から差し引いたpx=337px
    height: 89px; //height決め打ち（文字が下に出るようにするため）
    object-fit: cover;
    @include m.breakpoint(tablet) {
      width: calc(306px / 714px * 100%); //margin分を全体の幅から差し引いたpx=714px
      height: 189px;
      }
    @include m.breakpoint(pcl) {
      width: 581px;
      height: 358px;
      }
    }
  &__description {
    font-family: f.$sub-font;
    font-size: 16rem;
    //padding: 0 20px 30px 10px;
    display: inline-block;
    width: 100%;
    }
    &__sub-image-container {
      text-align: center;
    }
  &__sub-image {
  width: calc(267px / 375px * 100%);
  //max-width: 267px;
  height: 166px;
  object-fit: cover;
  margin-bottom: 30px;
  //margin: 0 54px 30px 54px;
  @include m.breakpoint(tablet) {
    width: calc(100% - 126px * 2);
    //max-width: 581px;
    height: 358px;
    margin-bottom: 241px;
    //margin: 0 126px 241px 126px;
    }
  @include m.breakpoint(pc) {
    width: calc(100% - 486px * 2);
    min-width: 581px;
    margin-bottom: 60px;
    //margin: 0 486px 60px 486px;
    }
  }
}

//WordPress化の時追加
#p-section-single__wrapper.p-section-single__container {
  .wp-block-media-text.is-stacked-on-mobile {
    margin-bottom: 30px;
    grid-template-columns: 50% 1fr!important;
    .wp-block-media-text__media {
      //画像
      grid-column: 1;
      grid-row: 1;
    }
    .wp-block-media-text__content {
      //文
      grid-column: 2;
      grid-row: 1;
      > p {
        padding-bottom: 0;
      }
    }
      @include m.breakpoint(tablet) {
        margin-bottom: 117px;
        }
      @include m.breakpoint(pc) {
        margin-bottom: 60px;
      }

  }
  //右側に画像がくるバージョンの時
  .wp-block-media-text.has-media-on-the-right {
      grid-template-columns: 1fr 50%!important;
        .wp-block-media-text__media {
          //画像
          grid-column: 2;
          grid-row: 1;
        }
        .wp-block-media-text__content {
          //文
          grid-column: 1;
          > p {
            padding-bottom: 0;
          }
        }
    }
}
.p-menu-card__img {
  width: 100%;
}

.p-section-single__container {
  .wp-block-image {
    text-align: center;
  }
}

.p-pagenation__container {
  div > div > p {
  padding-left: 22px;
  @include m.breakpoint(tablet) {
    padding-left: 42px;
  }
  @include m.breakpoint(pc) {
    padding-left: 100px;
  }
}
}