@use "../../foundation/base" as b;
@use "../../foundation/font-family" as f;
@use "../../foundation/color" as c;
@use "../../foundation/mixin" as m;

.p-card{
 &__container {
  margin-left: calc(20vw / 3.75);
  margin-right: calc(20vw / 3.75);
  @include m.breakpoint(tablet) {
   margin: calc(40vw / 8.34 );
  }
  @include m.breakpoint(pc) {
   margin-top: calc(120vw / 12);
   margin-bottom: calc(130vw / 12);
   margin-left: calc(119vw / 12);
   margin-right: calc(112vw / 12);
  }
 }
 &__img01 {
  width: 100%;
  background-image: url(../../../images/card_img-1.jpg);
  background-size: cover;
  margin-top: calc(20vw / 3.75);
  padding-bottom: calc(16vw / 3.75);
  @include m.breakpoint(tablet) {
   margin-right: calc(20.5vw / 8.34);
   margin-top: 0;
  }
  @include m.breakpoint(pc) {
   margin-right: calc(40vw / 12);
  }
 }
 &__img02 {
  width: 100%;
  background-image: url(../../../images/card_img-2.png);
  background-size: cover;
  margin-top: calc(20vw / 3.75);
  margin-bottom: calc(49vw / 3.75);
  padding-bottom: calc(16vw / 3.75);
  @include m.breakpoint(tablet) {
   margin-left: calc(20.5vw / 8.34);
   margin-top: 0;
   margin-bottom: 0;
  }
  @include m.breakpoint(pc) {
   margin-left: 40px;
   margin-left: calc(40vw / 12);
  }
 }
 &__title {
 font-family: f.$main-font;
 color: c.$color-lightgray;
 font-size: 41rem;
 margin-left: calc(15vw / 3.75);
 padding-top: calc(13vw / 3.75);
 padding-bottom: calc(19.34vw / 3.75);
 margin-bottom: calc(217.66vw / 3.75);//仮数値
 position: relative;
  @include m.breakpoint(tablet) {
   margin-bottom: calc(275vw / 8.34);
   margin-left: calc(13vw / 8.34);
   font-size: 44rem;
  }
  @include m.breakpoint(pc) {
   margin-bottom: calc(706vw / 12);
   margin-left: calc(22vw / 12);
   font-size: 80rem;
   font-weight: 700;
  }
 &::after {
  //下線
  content: "";
  display: inline-block;
  width: 33.89px;
  height: 4px; 
  background-color: c.$color-white;
  position: absolute;
  left: 0;
  bottom: 0;
  @include m.breakpoint(tablet) {
   width: 35.94px;
  }
  @include m.breakpoint(pc) {
   width: 63px;
  }
 }
}
}

.p-card-inner {
 &__background {
 background-color: c.$color-white;
 opacity: 0.8;
 margin-left: 16px;
 margin-bottom: 16px;
 margin-right: 16px;
 &:last-child {
  margin-bottom: 0;
 }
 @include m.breakpoint(pc) {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
 }
 }
&__title {
 width: 100%;
 color: c.$color-darkbrown;
 font-family: f.$sub-font;
 font-weight: 700;
 font-size: 22rem;
 padding-left: 16px;
 padding-top: 16px;
 padding-bottom: 8px;
 line-height: 24px;
 @include m.breakpoint(pc) {
  font-size: 24rem;
  margin-bottom: 18px;
  padding-bottom: 0;
 }
 }
 &__description {
  width: 100%;
  font-family: f.$sub-font;
  color: c.$color-darkbrown;
  font-weight: 400;
  font-size: 16rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  @include m.breakpoint(pc) {
   padding-left: 20px;
   padding-right: 21px;
   padding-bottom: 14px;
  }
 }
}