@use "../../foundation/base" as b;
@use "../../foundation/font-family" as f;
@use "../../foundation/color" as c;
@use "../../foundation/mixin" as m;


.p-header {
 text-align: center;
 background-color: c.$color-beige;
 @include m.breakpoint(pc) {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 &__title {
 padding-top: 35px;
 padding-bottom: 35px;
 font-size: 40rem;
 font-family: f.$main-font;
 font-weight: 700;
 color: c.$color-brown;
 @include m.breakpoint(tablet) {
  padding-top: 35.5px;
  padding-bottom: 35.5px;
 }
 @include m.breakpoint(pc) {
  padding-top: 60.5px;
  padding-bottom: 60.5px;
  padding-left: 65px;
  font-size: clamp(40rem, (100vw - 834px)*24/1084 + 40rem, 64rem);
  //font-size: unquote('min(2.083vw,64rem)');
 }
 @include m.breakpoint(pcl) {
  font-size: 64rem;
 }
}
}