@use "../../foundation/base" as b;
@use "../../foundation/font-family" as f;
@use "../../foundation/color" as c;
@use "../../foundation/mixin" as m;

.p-list-single {
 &__big-wrapper {
  margin-bottom: 26px;
  @include m.breakpoint(tablet) {
   margin-bottom: 56px;
  }
  div:last-child {
   margin-bottom: 0;
  }
 }
 &__wrapper {
  margin-bottom: 57px;
  ol {
   padding-left: 20px;
  }
  ol:nth-child(even) {
   margin-left: 38px;
   @include m.breakpoint(tablet) {
    margin-left: 128px;
   }
   @include m.breakpoint(pc) {
    margin-left: 168px;
   }
  }
  ol:last-of-type {
   margin-bottom: 26px;
   @include m.breakpoint(tablet) {
    margin-bottom: 56px;
   }
  }
  ul {
   list-style: none;
  }
  ul:nth-child(even) {
   margin-left: 38px;
   @include m.breakpoint(tablet) {
    margin-left: 128px;
   }
  }
 }
 &__container {
  margin-left: 20px;
  margin-bottom: 17px;
  @include m.breakpoint(tablet) {
   margin-left: 110px;
  }
  @include m.breakpoint(pc) {
   margin-left: 150px;
  } 
  li {
   list-style: inherit;
   font-family: f.$sub-font;
   font-size: 16px;
  }
 }
}

//wordpress化時変更CSS
.p-section-single__container {
 ul, ol {
  font-size: 16rem;
  font-weight: 400;
  margin-bottom: 17px;
  //padding-left: 20px;
 }
 ol {
  margin-left: 20px; //数字分
  @include m.breakpoint(tablet) {
   margin-left: calc(50px + 20px); //数字分20px足した
  }
  li {
   list-style: inherit;
   > ol {
    margin-top: 17px;
    margin-bottom: 17px;
    padding-left: 18px;
    margin-left: 0px; //重複してるから０にした
    @include m.breakpoint(tablet) {
     margin-left: 0px; //重複してるから０にした
     padding-left: 18px;
    }
   }
  }
 }
 ul {
  list-style: none;
  @include m.breakpoint(tablet) {
   margin-left: 50px;
  }
  li {
   > ul {
    margin-top: 17px;
    margin-bottom: 17px;
    padding-left: 18px;
    @include m.breakpoint(tablet) {
     margin-left: 0;
     padding-left: 18px;
    }
   }
  }
 }
 > ul:last-child {
  margin-bottom: 57px;
 }
}