@use "../../foundation/base" as b;
@use "../../foundation/font-family" as f;
@use "../../foundation/color" as c;
@use "../../foundation/mixin" as m;

.p-main__container {
  @include m.breakpoint(pcl){
  //max-width: calc(1553 / 1920 * 100%);
  }
}

/*========
single
========*/
.p-single {
&__title-wrap {
  font-family: f.$sub-font;
  font-weight: bold;
  margin-left: 20px;
  @include m.breakpoint(tablet) {
    margin-left: 60px;
  }
  @include m.breakpoint(pc) {
    margin-left: 100px;
  }
    h3 {
      font-size: 24rem;
      margin-bottom: 28px;
      @include m.breakpoint(tablet) {
        font-size: 28rem;
        margin-bottom: 56px;
      }
    }
    h4 {
      font-size: 20rem;
      margin-bottom: 34px;
      @include m.breakpoint(tablet) {
        margin-bottom: 73px;
      }
      @include m.breakpoint(pc) {
        margin-bottom: 57px;
      }
    }
    h5 {
      font-size: 20rem;
      margin-bottom: 27px;
      @include m.breakpoint(tablet) {
        margin-bottom: 57px;
      }
    }
    h6 {
      font-size: 20rem;
      margin-bottom: 26px;
      @include m.breakpoint(tablet) {
        margin-bottom: 56px;
      }
    }
  }
}

//引用エリア
.p-quote-single {
  &__container {
    margin: 0 20px 30px 20px;
    background-color: c.$color-lightgray-2;
    padding: 30px 16px 27px 20px;
    @include m.breakpoint(tablet) {
      margin: 0 60px 60px 60px;
      padding: 50px 56px 57px 50px;
    }
    @include m.breakpoint(pc) {
      margin: 0 100px 60px 100px;
      padding: 50px 60px 47px 50px;
    }
    > p {
      font-family: f.$sub-font;
      font-size: 16rem;
      padding-top: 5px;
      @include m.breakpoint(tablet) {
        padding-top: 61px;
      }
    }
    a {
      text-decoration: underline;
      &:link {
        color: c.$color-blue;
      }
    }
  }
  &__description {
    font-family: f.$sub-font;
    font-size: 16rem;
  }
}

.p-single__text {
  font-family: f.$sub-font;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 69px 20px;
  @include m.breakpoint(tablet) {
    margin: 0 0 149px 60px;
  }
  @include m.breakpoint(pc) {
    margin: 0 0 274px 100px;
  }
}
//コードエリア
.p-cord-single {
  &__wrapper {
    margin: 0 20px 30px 20px;
    @include m.breakpoint(tablet) {
      margin: 0 60px 60px 60px;
    }
    @include m.breakpoint(pc) {
      margin: 0 100px 50px 100px;
    }
  }
  &__container {
    width: 100%;
    background-color: c.$color-lightgray-2;
    padding: 50px 0 50px 50px;
    p {
      font-family: f.$sub-font;
      font-size: 16px;
    }
    p:nth-child(2) {
      padding-left: 4em;
    }
  }
}