@use "../../foundation/base" as b;
@use "../../foundation/color" as c;
@use "../../foundation/font-family" as f;
@use "../../foundation/mixin" as m;

.p-pagenation .wp-pagenavi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20.29px 32px 20.29px;
  @include m.breakpoint(tablet) {
    margin: 0;
  }
    li {
    @include m.breakpoint(tablet) {
      margin: 0 7.5px 0 7.5px;
      }
      &:first-child {
        @include m.breakpoint(tablet) {
          margin-right: 17.18px;
          margin-left: 19.29px;
          }
        }
      &:nth-child(2) {
        @include m.breakpoint(tablet) {
          margin-left: 0;
        }
      }
      &:last-child {
        @include m.breakpoint(tablet) {
        margin-left: 16px;
        }
      }
      &:nth-last-child(2) {
        @include m.breakpoint(tablet) {
          margin-right: 0;
        }
      }
    }
  &__container {
    @include m.breakpoint(tablet) {
      display: flex;
      margin-bottom: 32px;
      align-items: center;
      justify-content: center;
    }
  }
}

.p-pagenation-number {
  &__link {
    display: none;
      @include m.breakpoint(tablet) {
      font-size: 16rem;
      font-weight: bold;
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 1px solid #707070;
      background-color: c.$color-white;
      color: c.$color-brown;
      text-align: center;
      line-height: 35px;
        &.isActive {
        background-color: c.$color-darkbrown-2;
        color: c.$color-white;
        }
      }
    }
  }

.p-arrow {
  font-family: f.$sub-font;
  font-size: 16rem;
  position: relative;
  display: inline-block;
  color: c.$color-brown;
  vertical-align: middle;
  text-decoration: none;
  @include m.breakpoint(tablet) {
    visibility: hidden;
  }
  &__tablet {
    visibility: hidden;
    @include m.breakpoint(tablet) {
    visibility: visible;
    font-family: f.$sub-font;
    font-size: 16rem;
    position: relative;
    display: inline-block;
    color: c.$color-brown;
    vertical-align: middle;
    text-decoration: none;
    //margin-left: 122px;
    }
  }
}
.p-arrow::before,
.p-arrow::after {
  visibility: visible;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  vertical-align: middle;
}
.p-arrow-1 {
  padding: 0 0 0 25px;
  @include m.breakpoint(tablet) {
    padding: 0;
  }
}
.p-arrow-1::before,
.p-arrow-1::after {
  visibility: visible;
  width: 8.535px;
  height: 8.535px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: rotate(225deg);
  left: 0;
}
.p-arrow-1::before {
  left: 3px;
  @include m.breakpoint(tablet) {
    left: 18px;
  }
}
.p-arrow-1::after {
  left: 9px;
  @include m.breakpoint(tablet) {
    left: 25px;
  }
}
//次へ
.p-arrow-2 {
  padding: 0 25px 0 0;
  @include m.breakpoint(tablet) {
    visibility: hidden;
    padding: 0;
  }
}
.p-arrow-2::before,
.p-arrow-2::after {
  visibility: visible;
  width: 8.535px;
  height: 8.535px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: rotate(45deg);
  right: 0;
}
.p-arrow-2::before {
  right: 3px;
  @include m.breakpoint(tablet) {
    right: 18px;
  }
}
.p-arrow-2::after {
  right: 9px;
  @include m.breakpoint(tablet) {
    right: 25px;
  }
}

//wordpress化時変更CSS
.wp-pagenavi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 20.29px 32px 20.29px;
  @include m.breakpoint(tablet) {
    justify-content: center;
    margin-left: 140px;
    margin-right: 113px;
  }
  @include m.breakpoint(pc) {
    //margin-left: 498px;
    //margin-right: 456px;
  }
  .page {
    //数字部分
    //phoneの時は数字非表示
    visibility: hidden;
    @include m.breakpoint(tablet) {
      visibility: visible;
    }
  }
  span, a {
    //数字部分の共通CSS
    //phoneの時は数字非表示
    @include m.breakpoint(tablet) {
      font-size: 16rem;
      font-weight: bold;
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 1px solid #707070;
      background-color: c.$color-white;
      color: c.$color-brown;
      text-align: center;
      line-height: 35px; //縦中央寄せ
      margin: 0 7.5px 0 7.5px;
      }
    }
  .previouspostslink {
    //頭の矢印
    border: none;
    color: c.$color-brown;
    font-size: 16rem;
    @include m.breakpoint(tablet) {
      margin-right: 17.18px;
      margin-left: 19.29px;
      }
    &::after {
      content: '前へ';
      font-size: 16rem;
      margin-left: 8px;
      @include m.breakpoint(tablet) {
        display: none;
      }
    }
  }
  .nextpostslink {
    //後ろの矢印
      border: none;
      color: c.$color-brown;
      font-size: 16rem;
      @include m.breakpoint(tablet) {
        margin-left: 16px;
        }
      &::before {
        content: '次へ';
        font-size: 16rem;
        margin-right: 8px;
        @include m.breakpoint(tablet) {
          display: none;
        }
      }
    }
  .fa-angles-right {
    display: inline-block;
    //content: '\f101';
    //font-family: "Font Awesome 5 Free";
    //font-weight: 700;
    //font-size: 16rem;
  }
  .pages {
    //ページ数表示部分
    display: none;
    border: none;
    @include m.breakpoint(tablet) {
      width: auto;
      display: block;
      font-family: f.$sub-font;
      font-size: 16rem;
      position: relative;
      display: inline-block;
      color: c.$color-brown;
      vertical-align: middle;
      text-decoration: none;
    }
  }
  .current {
    //現在表示されているページの番号
    visibility: hidden;
    @include m.breakpoint(tablet) {
      visibility: visible;
      font-size: 16rem;
      font-weight: bold;
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 1px solid #707070;
      background-color: c.$color-darkbrown-2;
      color: c.$color-white;
      text-align: center;
      line-height: 35px;
      margin: 0 7.5px 0 7.5px;
    }
  }
  .extend {
    display: none;
  }
}
