@use "../../foundation/base" as b;
@use "../../foundation/color" as c;
@use "../../foundation/font-family" as f;
@use "../../foundation/mixin" as m;

.p-pagenation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-left: 20.29px;
  //margin-right: 20.18px;
  //margin-bottom: 32px;
  li {
    //line-height: 35px; //数字と高さ合わせ
    margin: 0 15px 0 15px;
  }
  &__container {
    @include m.breakpoint(tablet) {
      display: flex;
      margin-bottom: 32px;
      align-items: center;
      justify-content: center;
    }
  }
}

.p-pagenation-number {
  &__link {
    display: none;
      @include m.breakpoint(tablet) {
      font-size: 16rem;
      font-weight: bold;
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 1px solid #707070;
      background-color: c.$color-white;
      color: c.$color-brown;
      text-align: center;
      line-height: 35px;
        &.isActive {
        background-color: c.$color-darkbrown-2;
        color: c.$color-white;
        }
      }
    }
  }

.p-arrow {
  font-family: f.$sub-font;
  font-size: 16rem;
  position: relative;
  display: inline-block;
  color: c.$color-brown;
  vertical-align: middle;
  text-decoration: none;
  @include m.breakpoint(tablet) {
    visibility: hidden;
  }
  &__tablet {
    visibility: hidden;
    @include m.breakpoint(tablet) {
    visibility: visible;
    font-family: f.$sub-font;
    font-size: 16rem;
    position: relative;
    display: inline-block;
    color: c.$color-brown;
    vertical-align: middle;
    text-decoration: none;
    //margin-left: 122px;
    }
  }
}
.p-arrow::before,
.p-arrow::after {
  visibility: visible;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  vertical-align: middle;
}
.p-arrow-1 {
  padding: 0 0 0 25px;
  @include m.breakpoint(tablet) {
    padding: 0;
  }
}
.p-arrow-1::before,
.p-arrow-1::after {
  visibility: visible;
  width: 8.53px;
  height: 8.53px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: rotate(225deg);
  left: 0;
}
.p-arrow-1::before {
  left: 3px;
  @include m.breakpoint(tablet) {
    left: 18px;
  }
}
.p-arrow-1::after {
  left: 9px;
  @include m.breakpoint(tablet) {
    left: 25px;
  }
}
//次へ
.p-arrow-2 {
  padding: 0 25px 0 0;
  @include m.breakpoint(tablet) {
    visibility: hidden;
    padding: 0;
  }
}
.p-arrow-2::before,
.p-arrow-2::after {
  visibility: visible;
  width: 8.53px;
  height: 8.53px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: rotate(45deg);
  right: 0;
}
.p-arrow-2::before {
  right: 3px;
  @include m.breakpoint(tablet) {
    right: 18px;
  }
}
.p-arrow-2::after {
  right: 9px;
  @include m.breakpoint(tablet) {
    right: 25px;
  }
}
