@use "../../foundation/base" as b;
@use "../../foundation/font-family" as f;
@use "../../foundation/color" as c;
@use "../../foundation/mixin" as m;

//スライドメニューの装飾のみ
.p-sidebar {
  &__container { //右側にひっこめる
    transform: translateX(100%);
    //position: relative;
    //inset: 0;
    //overflow: auto;
    @include m.breakpoint(pc) {  //ずっと出す
      //all: initial;
      //height: auto;
    }
  }
  &__drawer-menu {
    background-color: c.$color-beige;
    font-family: f.$sub-font;
    color: c.$color-brown;
    position: fixed;
    overflow: auto;
    //inset: 0;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 367px;
    //width: calc(100% - 47px);
    width: 328px;
    transform: translateX(100%); //右側に隠す
    transition: all 0.5s ease-in-out 0s;
    z-index: 200;
    padding-top: 178px;
    overflow: auto;
    @include m.breakpoint(tablet) {
      width: 367px;
    }
    @include m.breakpoint(pc) {
      transform: translateX(0); //PCの時はずっと出す
      width: 367px;
      position: inherit;
      height: auto;
      position: relative;
    }
    @include m.breakpoint(pcl) {
      padding-top: 214px;
    }
  }
  &__title:not(:first-child) {
  padding-top: 60px;
  @include m.breakpoint(tablet) {
    padding-top: 48px;
  }
  }
  &__title > a {
  font-weight: bold;
  font-size: 24rem;
  padding-left: 46px;
  padding-bottom: 40px;
  @include m.breakpoint(tablet) {
    padding-bottom: 32px;
  }
  }
  &__title ul li a {
  font-size: 20rem;
  padding-left: 66px;
  //padding-bottom: 20px;
  }
  &__title ul li {
    padding-bottom: 20px;
    &:last-child {
      @include m.breakpoint(tablet) {
        padding-bottom: 0;
      }
    }
  }
}


.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .p-sidebar__drawer-menu {
  transform: translateX(0);
}

//黒背景
.menu-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s ease 0s;
  pointer-events: none;
  z-index: -1; //下にもぐらす
  @include m.breakpoint(pc) {
    display: none;
  }
}

.menu-checkbox:checked ~ .menu-background {
  background: rgba(0, 0, 0, 0.502);
  pointer-events: auto;
  z-index: 100;
}
.menu-checkbox:checked ~ .p-whole__container {
  z-index: inherit;
}

body:has(.menu-checkbox:checked) {
  position: fixed;
}



