@use "../../foundation/base" as b;
@use "../../foundation/font-family" as f;
@use "../../foundation/color" as c;
@use "../../foundation/mixin" as m;


.p-top{
 &__image-container {
  //width: 100%;
  //background-image: url(/images/mainvisual.jpg);
  //background-size: cover;
  height: 285px;
  position: relative;
  //background-position: center center;
  @include m.breakpoint(pc) {
   height: 530px;
  }
 }
 &__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 &__title {
  position: absolute;
  top: 112px;
  left: 25px;
  font-family: f.$sub-font;
  font-size: 36rem;
  color: c.$color-white;
  @include m.breakpoint(tablet) {
   top: 122px;
   left: 86px;
  }
  @include m.breakpoint(pc) {
   font-size: 40rem;
   font-weight: 700;
   top: 234px;
  }
 }
}

/*========
archive
========*/
.p-top-archive {
 &__image-container {
  background-color: black;
  //background-image: url(/images/card_img-1.jpg);
  @include m.breakpoint(pc) {
   height: 239px;
  }
 }
 &__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
 }
 &__title {
  font-family: f.$main-font;
  font-size: 36rem;
  font-weight: bold;
  top: 106px;
  left: 37px;
   @include m.breakpoint(tablet) {
    font-size: 60rem;
    top: 107px;
    left: 86px;
   }
   @include m.breakpoint(pc) {
    top: 83px;
   }
 }
 &__subtitle {
  font-family: f.$main-font;
  font-size: 16rem;
  font-weight: bold;
  position: absolute;
  top: 156px;
  left: 37px;
  color: c.$color-white;
   @include m.breakpoint(tablet) {
    top: 143px;
    left: 290.104px;
   }
   @include m.breakpoint(pc) {
    top: 120px;
   }
 }
}

/*========
single
========*/
.p-top-single {
 &__image-container {
  height: 225px;
  @include m.breakpoint(tablet) {
   height: 505px;
  }
  @include m.breakpoint(pc) {
   height: 500px;
  }
 }
 &__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 &__title {
  top: 93px;
  left: 26px;
  @include m.breakpoint(tablet) {
   font-size: 60rem;
   top: 213px;
   left: 86px;
  }
 }
}

/*========
page
========*/
.p-top-page {
 &__image-container {
  //background-image: url(/images/page-shop-img.png);
  //background-position: center center;
  //background-size: cover;
  height: 225px;
  @include m.breakpoint(tablet) {
   height: 505px;
  }
  @include m.breakpoint(pc) {
   height: 500px;
  }
 }
 &__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 &__title {
  left: 45px;
  @include m.breakpoint(tablet) {
   left: 86px;
  }
 }
}

//WordPressåŒ–
.p-top-archive {
  &__image-container {
    ul {
      li:first-child {
        padding-left: 0;
      }
      li:nth-child(2) {
        padding-left: 60px;
      }
      li:last-child {
        padding-left: 150px;
      }
    }
  }
}
.search {
  .p-top {
    &__image-container {
      background-color: black;
      //background-image: url(/images/card_img-1.jpg);
      @include m.breakpoint(pc) {
        height: 239px;
      }
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
    }
    &__title {
      font-family: f.$main-font;
      font-size: 36rem;
      font-weight: bold;
      top: 106px;
      left: 37px;
        @include m.breakpoint(tablet) {
          font-size: 60rem;
          top: 107px;
          left: 86px;
        }
        @include m.breakpoint(pc) {
          top: 83px;
        }
    }
    &__subtitle {
      font-family: f.$main-font;
      font-size: 16rem;
      font-weight: bold;
      position: absolute;
      top: 156px;
      left: 37px;
      color: c.$color-white;
        @include m.breakpoint(tablet) {
        top: 143px;
        left: 290.104px;
      }
      @include m.breakpoint(pc) {
        top: 120px;
      }
    }
    &-archive__subtitle {
      @include m.breakpoint(tablet) {
      position: absolute;
      left: 310.615px;
      }
    }
  }
}

.single {
  .p-top__image-container {
      img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.page {
  .p-top__image-container {
      img {
      height: 100%;
      object-fit: cover;
    }
  }
}
.error404 {
  h3 {
    font-size: 20rem;
    font-weight: 700;
    padding: 26px;
    @include m.breakpoint(tablet) {
      padding: 120px 120px 60px 86px;
      font-size: 32rem;
      }
  }
  p {
    font-size: 20rem;
    padding-left: 26px;
    padding-bottom: 30px;
    @include m.breakpoint(tablet) {
      padding-left: 86px;
      padding-bottom: 120px;
    }
  }
}