@use "../../foundation/base" as b;
@use "../../foundation/font-family" as f;
@use "../../foundation/color" as c;
@use "../../foundation/mixin" as m;


.p-top{
 &__img {
  width: 100%;
  background-image: url(/images/mainvisual.jpg);
  background-size: cover;
  height: 285px;
  position: relative;
  background-position: center center;
  @include m.breakpoint(pc) {
   height: 530px;
  }
 }
 &__title {
  position: absolute;
  top: 112px;
  left: 25px;
  font-family: f.$sub-font;
  font-size: 36rem;
  color: c.$color-white;
  @include m.breakpoint(tablet) {
   top: 122px;
   left: 86px;
  }
  @include m.breakpoint(pc) {
   font-size: 40rem;
   font-weight: 700;
   top: 234px;
  }
 }
}
.p-top-achive {
 &__title {
  &::after {
   content: "チーズバーガー";
   font-family: f.$sub-font;
   font-size: 16rem;
   padding-left: 19px;
  }
 }
}